body {
  background-image: url("/public/LibraryWallpaper.jpeg");
  background-size: 100%;
}

.mainBackground {
  background-color: rgba(0, 0, 0, .7)
}

#titleInput::placeholder {
  color: white;
}

button {
  background-color: grey;
  color: aliceblue;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

h2 {
  color: aliceblue;
}
h3 {
  color: aliceblue;
}
p {
  color: aliceblue;
}